.Sidebar{
    display: flex;
    width: max-content;
    border: 1px solid rgb(36, 36, 36);
    min-height: 100vh;
    align-items: flex-start;
    padding: 0 2em;
}

.Sidebar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.2rem;
    font-size: 1.2em;
    padding-top: 1em;
}

.btn{
    text-align: start;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: inherit;
}

.btn:hover{
    background-color: grey;
    color: white;
}

#btnTweet{
    background-color: #1DA1F2;
    width: 100%;
    text-align: center;
    padding-left: 4em;
    padding-right: 4em;
}

#btnTweet:hover{
    background-color: #1d8fd6;
}
